.column {
    max-width: 50%;
    padding: 0 4px;
}

.center{
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.left-center{
    margin: auto;
    position: relative;
    left:75%;
    display: inline;
}

.right-center{
    margin: auto;
    position: relative;
    top: 0; left: 10%; bottom: 0; right: 0;
    text-align: center;
    display: inline;
}

a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:deeppink;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
        }
}